
.sidebar-wrap .menu-bar-icon{
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  cursor:pointer;
  margin-top: 0px;
  margin-left: 40px;
  position: fixed;
  top: 25px;
  left: -22px;
}

.sidebar-wrap .menu-bar-icon:active{
  transform: scale(0.96);
}

.sidebar-wrap .menu-bar-icon:hover{
  background-color: rgb(221,227,234);
}

.sidebar-container{
    padding: 0 16px;
    min-height: 100vh;
    background-color:rgb(240,244,249);
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidebar-wrap .menu-bar-icon ,.sidebar-container .part1 .plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
.sidebar-container .part1{
  margin-top: 20px;
}

.sidebar-container .part1 .plus-icon{
  margin-top: 48px;
  font-size: 17px;
  background-color: rgb(221,227,234);
  color: rgb(135, 135, 135);
  display: flex;
  gap: 20px;
  padding: 13px 15px;
  border-radius: 50px;
  margin-top: 100px;
}
.sidebar-container .part1 .plus-icon:active{
  transform: scale(0.95);
}
.sidebar-container .part1 .plus-icon p{
  font-size: 15px;
}

.sidebar-container .part1 .recent-section{
  margin-top: 27px;
  font-size: 17px;
}
.sidebar-container .part1 .recent-section .search-history .no-history{
  font-size: 12px;
  color: rgb(90, 87, 87);
  margin-left: 5px;
  margin-top: 5px;
}
.sidebar-container .part1 .recent-section .search-history .history-container{
  height: 300px;
  overflow-y: auto;
  padding: 10px 0;
  background-color: rgb(221,227,234);
  border-radius: 10px;
  margin-top: 5px;
}
  
.sidebar-container .part1 .recent-section .search-history .history-container .history{
  font-size: 14px;
  padding: 2px 10px;
  margin-bottom: 10px;
  color: rgb(58, 58, 58);
}
.sidebar-container .part1 .recent-section .search-history .history-container .history:hover{
  background-color: rgb(208, 214, 220);
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px; 
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.sidebar-container .part2{
  margin-bottom: 40px;
  display:flex;
  flex-direction: column;
  gap: 20px;
  font-size: 17px;
}

.sidebar-container .part2 .question-icon , .history-icon , .settion-icon,.logout-icon{
   display: flex;
   gap: 15px;
   border-radius: 50%;
   transition: all 0.2s linear;
   cursor:pointer;

}

.sidebar-container .part2 .question-icon:hover , .history-icon:hover ,.settion-icon:hover , .logout-icon:hover {
  display: flex;
  gap: 18px;
  padding: 12px 12px;
  border-radius: 50px;
  background-color: rgb(221,227,234);
}

.sidebar-container .part2 p{
  padding-right:10px;
  position: relative;
  top: -3px;
}


@media (max-width:500px){

  .sidebar-container{
    display: none;
    padding: 0 10px;
  }
  .sidebar-container.active-for-mobile{
    display: flex;
    position: fixed;
    z-index: 1;
  }
  .sidebar-container.active-for-mobile .part2 {
     position: relative;
     bottom:25px;
     padding: 0px 10px 0 0; 
  }
  .sidebar-wrap .menu-bar-icon{
    position: absolute;
    top: 22px;
    left: 5px;
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-left: 0;
    z-index: 2;
  }

  .sidebar-wrap .menu-bar-icon:hover{
    background-color: transparent;
  }
  .sidebar-wrap .menu-bar-icon.active-menu-bar-mobile{
    color: rgb(12, 12, 12);
  }

  .sidebar-container .part1 .plus-icon{
    padding: 13px 30px;
  }
}

